{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
	<h1>Groups</h1>
		<a href="{% url "group_create" %}" class="btn btn-success pull-right"> New </a>
		<table class="table table-striped table-condensed table-hover">
		<thead>
		<tr>
			<th>Name</th><th>&nbsp;</th>
		</tr>
		</thead>
		{% for group in object_list %}
		<tr>
			<td>{{ group.name }}</td>
			<td>
				<form action="{% url "group_delete" group.id %}" method="post" class="confirm-delete">
					{% csrf_token %}
					<input type="submit" value="Delete" class="btn btn-xs btn-danger"/>
				</form>
			</td>
		</tr>
	    {% endfor %}
	</table>
{% endblock  %}
