<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Munin{% endblock %}</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<style>
		body {
		  padding-top: 50px;
		}
		</style>
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'main' %}">Munin Admin</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
							<li><a href="{% url 'host_list' %}">Hosts</a></li>
							<li><a href="{% url 'group_list' %}">Groups</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Back to Munin</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
